.u-spacer {
  display: block;
  height: 0;
  overflow: hidden;
  @include rfs(2.75rem, margin-top);
  @include rfs(1.375rem, margin-bottom);
}

.u-spacer--divide {
  height: 1px;
  background: #ccc;
}

.u-icon {
  &--inline {
    display: inline-block;
    width: 1.5em;
    vertical-align: middle;
    line-height: 1;
  }
}

.u-space {
  &--left {
    @include rfs(.5rem, margin-left);
  }
}

.u-visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
