:root {
  text-underline-position: under;
}

@font-face {
  font-family: 'font-a';
  src: url('/assets/fonts/SuisseIntl-Medium.woff2') format('woff2'),
    url('/assets/fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'font-b';
  src: url('/assets/fonts/font-b-book.woff2') format('woff2'),
    url('/assets/fonts/font-b-book.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-b';
  src: url('/assets/fonts/font-b-bold.woff2') format('woff2'),
    url('/assets/fonts/font-b-bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'font-b';
  src: url('/assets/fonts/font-b-bolditalic.woff2') format('woff2'),
    url('/assets/fonts/font-b-italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

html {
  text-rendering: optimizeLegibility;
  font-kerning: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-feature-settings: 'kern';
}

body {
  @include font-size(24px);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: rgb(40, 40, 40);
}

%heading {
  font-family: 'font-a', 'Times', cursive;
  font-variant-ligatures: normal;
  font-weight: normal;
  @include rfs(2.75rem, margin-top);
  @include rfs(1.375rem, margin-bottom);
  color: #000;
}

%bodycopy {
  font-family: 'font-b', 'Times', cursive;
}

.o-heading {
  @extend %heading;
}

.heading--aside {
  margin: 0;
  display: table;
  white-space: nowrap;
  line-height: 1.1;
  @include font-size(1.5rem);
  font-family: 'font-b';
  overflow: hidden;
  &:before,
  &:after {
    border-top: 2px solid #000;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 40%;
  }
  &:before {
    right: 5%;
  }
  &:after {
    left: 5%;
  }
}

.prose {
  h1,
  h2,
  h3,
  h4 {
    @extend %heading;
  }

  h1,
  h2 {
    line-height: 1.125;
  }

  h1 {
    @include font-size(54px);
  }

  h2 {
    @include font-size(38px);
  }

  h3 {
    @include font-size(28px);
  }

  h4 {
    @include font-size(23px);
  }

  p,
  ol:not([class]) li,
  ul:not([class]) li {
    @extend %bodycopy;
    line-height: 1.375;
  }

  pre {
    @include font-size(1.25rem);
  }

  img {
    max-width: 100%;
    display: block;
  }

  img[width] {
    width: auto; /* Defer to max-width */
  }

  img[width][height] {
    height: auto; /* Preserve aspect ratio */
  }

  /* Let SVG scale without boundaries */
  img[src$='.svg'] {
    width: 100%;
    height: auto;
    max-width: none;
  }

  hr {
    @extend %l-divider;
    background: transparent url(/assets/images/diamond_divider.svg) no-repeat
      50% 50%;
    height: 10px;
    @include margin-top(2.25em);
    @include margin-bottom(2.75em);
  }
}

.c-page-heading {
  @include margin(2rem 0 1.5rem);
  line-height: 1.1;
  color: #000;
  font-weight: 550;
  @include font-size(54px);
  &--with-subheading {
    @include margin(3rem 0 0.3rem);
  }
}

.c-page-subheading {
  @include margin(0 0 2rem);
  line-height: 1.1;
  color: #666;
  font-weight: normal;
  @include font-size(38px);
}

.c-annotation {
  display: block;
  @include font-size(0.7em);
  text-transform: uppercase;
  color: rgb(0, 136, 167);
  font-family: sans-serif;
}
