.l-doc {
  margin: 0;
  &-footer,
  &-navigation,
  &-content {
    margin: 0;
  }
}

%l-divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 0;
}

.l-divider {
  @extend %l-divider;
}
