html {
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background: get('colour.page.background');
}

p {
  // make the clickable area a little bigger
  a {
    padding-left: 0.09em;
    padding-right: 0.09em;
    text-decoration-skip: ink;
  }
}

blockquote {
  p:last-of-type {
    margin-bottom: 0;
  }
}

a,
a:link {
  color: get('colour.anchor.default.link');
  text-decoration-color: inherit;
}

:focus {
  color: inherit;
  background-color: get('colour.page.focus');
  border-bottom: 4px solid get('colour.page.border');
  outline: 0;
  text-decoration: none;
}
