.c-pane {

}

.c-pane--a {
  // background:lightgoldenrodyellow;
  border: 2px solid #000;
  // color: white;
  padding: 1em;
  margin: 1em 0;
  p {
    margin: 0;
  }
}

// .c-pane--concave {
//   overflow: hidden;
//   background:radial-gradient(circle at top left,transparent .45rem,#000 0) top left,
//   radial-gradient(circle at top right ,transparent .45rem,#000 0) top right,
//   radial-gradient(circle at bottom left,transparent .45rem,#000 0) bottom left,
//   radial-gradient(circle at bottom right,transparent .45rem,#000 0) bottom right;
//     background-size:50% 50%;
//     background-repeat:no-repeat;
//     padding: 0.3rem;
//   .c-pane__wrap {
//     margin: 0;
//     background:radial-gradient(circle at top left,transparent .45rem,#fff 0) top left,
//     radial-gradient(circle at top right,transparent .45rem,#fff 0) top right,
//     radial-gradient(circle at bottom left,transparent .45rem,#fff 0) bottom left,
//     radial-gradient(circle at bottom right,transparent .45rem,#fff 0) bottom right;
//     background-size:50% 50%;
//     background-repeat:no-repeat;
//   }
// }
