{% extends "./master.njk" %}
{% block content %}
<div class="o-constrain">
  <div class="o-layout">
    <div class="o-layout__item u-2/3@large">
        {% block primarycontent %}{% endblock %}
    </div>
    <div class="o-layout__item u-1/3@large">
      {% if blogroll and not hide_blogroll %}
      <div class="c-aside c-aside--ribbed">
          <h4 class="o-heading heading--aside">Blogroll</h4>
          <ul class="list list--links list--links-aside">
            {% for blogitem in blogroll | sortBy('text') %}
            <li><a href="{{ blogitem.url }}">{{ blogitem.text }}</a></li>
            {% endfor %}
          </ul>
      </div>
      {% endif %}
      <!-- /.c-aside -->
      {% block secondarycontent %}
        <div class="c-aside c-aside--dashed-concaved">
          <p>This website is still under development.</p>
        </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
