{% extends "layouts/master.njk" %}
{% block doc_content %}
  <div class="l-blog-content">
    <div>
      <div class="l-blog-content__primary">
        {% block primary_content %}{% endblock %}
      </div>
      <div class="l-blog-content__secondary">
        <h4 class="u-margin-bottom-1">Blogroll</h4>
        <ul class="list list--links u-margin-top-0">
          <li>
            <a href="https://adamsilver.io/articles/">Adam Silver</a>
          </li>
          <li>
            <a href="http://benholliday.com/">Ben Holliday</a>
          </li>
          <li>
            <a href="https://words.htmlandbacon.com/">Colin Oakley</a>
          </li>
          <li>
            <a href="https://blog.louisedowne.com/">Lou Downe</a>
          </li>
          <li>
            <a href="http://tomsteinberg.co.uk/">Tom Steinberg</a>
          </li>
          <li>
            <a href="http://loft27design.com/writing.html">Stephen McCarthy</a>
          </li>
          <li>
            <a href="https://www.ermlikeyeah.com/all-posts">Simon Wilson</a>
          </li>
        </ul>
        <h4 class="u-margin-bottom-1">Elsewhere</h4>
        <ul class="list list--links u-margin-top-0">
          <li>
            <a href="https://twitter.com/paulmsmith/">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/paulmsmith/">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/paulmichaelsmith">LinkedIn</a>
          </li>
        </ul>
        {% block secondary_content %}secondary content{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
