{% extends "./master.njk" %}
{% block content %}
<div class="o-constrain">
  <div class="o-layout">
    <div class="o-layout__item u-1/1">
        {% block primarycontent %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
