{%- import "includes/macros.njk" as macros -%}
{%- import "includes/render_component.njk" as component -%}
{% set meta_description = social_description | d('The website of Paul Smith, an interaction designer from Manchester, UK') %}
<!DOCTYPE html>
<html lang="{{ page.lang | d('en-GB') }}" dir="{{ page.dir | d('ltr') }}">
<head>
  <!-- UA configuration -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ meta_description }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{{ title | d('title not set') | safe }}{% endblock %}</title>
  {%- block metatags -%}
  {%- if (currentEnv == 'production') and (isHomepage) -%}
  <link rel="canonical" href="https://paulsmith.site/">
  {%- endif -%}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <meta name="msapplication-TileColor" content="#333333">
  <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- open graph data -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Paul Smith" />
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" name="description" content="{{ meta_description }}">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:url" content="https://paulsmith.site" />
  <meta property="og:image" content="https://paulsmith.site/assets/images/{{ social_image | d('meta/og_image.jpg' )}}" />
  <!-- twitter card meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="paulmsmith">
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ meta_description }}" />
  <meta name="twitter:image:alt" content="Paul Smith's profile picture.">
  {%- endblock -%}
  {%- block stylsheets -%}
  <link rel="stylesheet" href="/assets/styles/site.css">
  <link rel="stylesheet" href="/assets/styles/syntax.css">
  {%- endblock -%}
</head>
<body>
  {%- block after_opening_body -%}{%- endblock -%}
  <div class="l-doc">
    <div class="main-skip-link o-constrain">
      <a href="#doc-content" class="main-skip-link__link">Skip to main content</a>
    </div>
    <header class="l-doc-header" role="banner" id="doc-header">
        {{
          component.render({
            name: 'header',
            fields: {
              title: "Paul Smith",
              isHomepage: isHomepage,
              navigation: navigation
            }
          })
        }}
    </header>
    <!-- /.l-doc-header -->
    <main class="l-doc-content" id="doc-content">
        {% block content %}{% endblock %}
    </main>
    <!-- /.l-doc-content -->
    <footer class="l-doc-footer" id="doc-footer">
        {{
          component.render({
            name: 'footer',
            fields: {
              title: "Paul Smith"
            }
          })
        }}
    </footer>
    <!-- /.l-doc-footer -->
  </div>
  <!-- /.l-doc -->
  {%- block before_closing_body -%}{%- endblock -%}
  <!-- detect js -->
  <script id="detectJS">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  {%- if currentEnv == 'production' -%}
  <script async defer data-domain="paulsmith.site" src="https://loggychops.paulsmith.site/js/index.js"></script>
  {%- endif -%}
</body>
</html>
