{% extends "./blog.njk" %}

{% set currentPost = collections.writings | getCollectionItem(page) %}
{%- set nextPost = collections.writings | getNextCollectionItem(page) %}
{%- set previousPost = collections.writings | getPreviousCollectionItem(page) %}
{# if currentLayout not set higher up in the layout chain #}
{% if not currentLayout %}{% set currentLayout = 'post' %}{% endif %}

{% block primarycontent %}

  <div class="l-post__body">
    <div class="prose {%- if weeknote %} prose--weeknote{% endif %}">
      {{ content | safe }}
    </div>
  </div>
  <!-- /.l-post__body -->

  <div class="l-post__footer">

    <hr class="l-divider l-divider--zig-to-the-zag">

    <div class="c-meta c-meta--publication">
      <span class="c-meta__publication-date">
        <span class="c-meta__publication-date__label">Published: </span>
        <time datetime="{{ page.date | htmlDateString }}" class="c-meta__publication-date__date c-meta__time">
          <em>{{ page.date | readableDate }}</em>
        </time>
      </span>
      {% if currentPost.data.tags %}
      in:
      <ul class="c-meta__tags">
        {% for tag in currentPost.data.tags %}
          <li class="c-meta__tags__item c-meta__tags__item--alt"><span aria-hidden="true">#</span>{{ tag | title }}{% if not loop.last %}<span class="u-visually-hidden">,</span>{% endif %}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if original_url %}
      <div class="c-meta__row c-meta__row--small">
        Originally posted:<br> <a href="{{ original_url }}">{{ original_url }}</a>
      </div>
      {% endif %}
    </div>
    <!-- / .c-meta -->

    <hr class="l-divider l-divider--zig-to-the-zag">

    {% if nextPost or previousPost %}
      <ul class="c-post-navigation">
        {%- if previousPost and (previousPost.data.layout == currentLayout) %}
          <li class="c-post-navigation__item c-post-navigation__item--prev">
            <div class="c-post-navigation__item__label"><span aria-hidden="true">← </span>Previous </div>
            <a href="{{ previousPost.url | url }}">{{ previousPost.data.title | safe }}</a>
          </li>
        {% endif %}
        {%- if nextPost and (nextPost.data.layout == currentLayout) %}
          <li class="c-post-navigation__item c-post-navigation__item--next">
            <div class="c-post-navigation__item__label">Next<span aria-hidden="true"> →</span></div>
            <a href="{{ nextPost.url | url }}">{{ nextPost.data.title | safe }}</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
  <!-- /.l-post__footer -->

{% endblock %}
