{% set heading = title %}
{% set title = title + ' &ndash; Weeknotes by Paul Smith' %}
{% set currentLayout = 'weeknote' %}
{% extends "./post.njk" %}

{% block sectionhead %}
<div class="c-sectionhead c-sectionhead--weeknote">
  <h1 class="c-sectionhead__heading-1">
    <div class="c-sectionhead__strapline">
      <span aria-hidden="true">~</span> Weeknotes <span aria-hidden="true">~</span>&nbsp;
    </div>
    {{ heading | d(title) | safe }}
  </h1>
  <p class="c-sectionhead__note"><abbr title="Season {{ weeknote.season }}, Episode {{ weeknote.episode }}">S{{ weeknote.season | padStart(2) }}E{{ weeknote.episode | padStart(2) }}</abbr></p>
</div>
{% endblock %}
