.c-footer-global__primary {
  border-top: 6px solid #000;
  @include padding(0.125em 0);
  margin: 0;
  &-wrap {
    margin: 0;
    @include padding(0.75rem 0);
    border-top: 1px dotted #000;
    border-bottom: 2px solid #000;
  }
}
.c-footer-global__secondary {
  margin: 0;
  border-top: 6px solid #000;
  border-bottom: 5px solid #000;
  @include padding(1rem 0);
  text-align: center;

  @include mq($from: medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item, &-item > * {
    margin: 0;
    padding: 0;
    @include font-size(1.1rem);
    font-family: 'font-b';
  }
}
