<div class="c-footer-global">
  <div class="o-constrain">
    <div class="c-footer-global__primary">
      <div class="c-footer-global__primary-wrap">

        <div class="c-pane c-pane--concave">
          <div class="c-pane__wrap">
            lkdlkdlkdldklkdldk
          </div>
          <!-- /.c-panel__wrap -->
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eveniet atque, minima excepturi corrupti adipisci ex iste necessitatibus perferendis. Inventore numquam mollitia ducimus eveniet reprehenderit? Esse, distinctio! Excepturi, et ex.</p>
      </div>
    </div>
    <div class="c-footer-global__secondary">
      <div class="c-footer-global__secondary-item c-footer-global__secondary-item--copyright">
        &copy; Paul Michael Smith - 2020
      </div>
      <div class="c-footer-global__secondary-item c-footer-global__secondary-item--heritage">
        <p>Hand coded in Manchester, England</p>
      </div>
    </div>
  </div>
</div>
