.c-tlds {
  p {
    font-family: 'font-b';
  }
  @include padding(0.5em 0 0.5em 0);
}

.c-tlds-item {
  @include margin(1em 0 2em);
  &__content {
    margin: 0;
  }
  &__title,
  &__subtitle {
    font-family: 'font-a';
    margin: 0;
  }
  &__image {
    display: none;
  }
}

@include mq($from: medium) {
  .c-tlds-item {
    display: flex;
    // flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    align-content: stretch;
    &__content {
      flex-grow: 2;
      width: 70%;
    }
    &__title {
      flex-grow: 1;
      width: 30%;
    }
    &__title,
    &__subtitle {
      margin: 0;
    }
    &__title {
      @include font-size(1.6rem);
    }
    &__image {
      display: block;
      @include margin(0 0 1rem 0);
      img {
        max-width: 55%;
      }
    }
  }
  .date-span {
    @include font-size(1em);
    @include margin(0 0 1em 0);
    > span {
      margin: 0;
    }
    &__divide {
      font-size: 0.8em;
      color: #666;
    }
  }
}
