.c-header {
  &__link {
    color: inherit;
  }
}

@include mq($until: large) {
  .c-header {

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      font-family: 'font-b';
      flex: 1 0 0;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-style: italic;
      font-weight: 400;
      @include font-size(3.75rem);
      @include rfs(-0.055em, letter-spacing);
      -moz-osx-font-smoothing: grayscale;
    }

    &__masthead {
      order: 2;
      margin: 0;
      img {
        width: 100%;
        display: block;
        max-width: 120px;
        margin: 0 auto;
      }
    }

    &__navigation {
      order: 3;
      display: flex;
      margin: 0;
      padding: 0;
      flex: 0 0 100%;
      @include font-size(1.45rem);
      justify-content: flex-start;
      border-style: solid;
      border-width: 5px 0 1rem 0;
      border-image: url(/assets/images/double_border.svg);
      border-image-slice: 28%;
      padding: .15rem 0 .15rem;
    }

    &__strap {
      display: none;
    }

  }

  .c-navigation {

  }
}

@include mq($from: large) {

  .c-header {

    &__wrap {
      border-bottom: 2px solid #000;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      align-items: center;
      justify-content:space-between;
      position: relative;
    }

    &__title {
      -moz-osx-font-smoothing: grayscale;
      font-family: 'font-b';
      @include rfs(0 0 .15rem 0, margin);
      @include rfs(0 0 0 0, padding);
      line-height: 1;
      font-style: italic;
      font-weight: 400;
      @include font-size(3.75rem);
      @include rfs(-0.0595em, letter-spacing);
      @include mq($from: large) {
        @include font-size(3rem);
        width: auto;
        flex: 0 1 auto;
      }
    }

    &__masthead {
      order: 2;
      margin: 0;
      img {
        width: 100%;
        display: block;
        max-width: 140px;
        margin: 0;
      }
      @include mq($from: large) {
        margin: 0;
        justify-self: center;
      }
    }

    &__navigation {
      display: flex;
      margin: 0;
      padding: 0;
      @include font-size(1.45rem);
      justify-content: flex-end;
      @include mq($from: medium) {
        order: 3;
      }
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }

  }

}

.c-header__strap {
  @include font-size(1rem);
  border-style: solid;
  border-width: 0 0 1rem 0;
  border-image: url(/assets/images/double_border.svg);
  border-image-slice: 28%;
  padding: 1rem 0 .75rem;
  margin: 0;
  &-item {
    margin: 0;
  }
  @include mq($until: large) {
    text-align: center;
  }
  @include mq($from: large) {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    &-item {
      flex: 0 0 1;
      margin: 0;
      p {
        font-size: 1em;
        line-height: 1;
      }
      &:nth-child(2) {
        text-align: center;
        font-size: 1.2rem;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  p {
    margin: 0;
    font-family: "font-b";
    @include font-size(1.15rem);
  }
}
