<header class="c-header">
  {% if title %}<h1 class="c-header__title"><a href="/" class="c-header__link">{{ title }}</a></h1>{% endif %}
  {% if subtitle %}
    <p class="c-header__subtitle">{{ subtitle }}</p>
  {% endif %}
</header>
