<div class="c-header">
  <div class="o-constrain">
    <div class="c-header__wrap">
      {% if title %}
        <{{ 'h1' if isHomepage else 'div' }} class="c-header__title">
          <a href="/" class="c-header__link">
            <span>P</span><span>a</span><span>u</span><span>l</span> <span>S</span><span>m</span><span>i</span><span>t</span><span>h</span>
          </a>
        </{{ 'h1' if isHomepage else 'div' }}>
      {% endif %}
      {% if navigation %}
      <div class="c-header__navigation">
        <nav class="c-navigation" role="navigation">
          <ul class="c-navigation__list">
            {% for item in navigation %}
              <li class="c-navigation__item">
                <a href="{{ item.url | d ('#') }}" class="c-navigation__link">{{ item.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <!-- /.c-header__navigation -->
      {% endif %}
      <div class="c-header__masthead">
        <a href="/">
          {% imgr {
              imagePath: 'masthead_paul_default.jpg',
              classes: 'c-header__masthead-image',
              width: '337',
              height: '187'
            }
          %}
        </a>
      </div>
    </div>
    <!-- /.c-header__wrap -->
    <div class="c-header__strap">
      <div class="c-header__strap-item">
        <p>Fresh pot of tea edition</p>
      </div>
      <div class="c-header__strap-item" aria-hidden>
        <p>⭑⭑⭑</p>
      </div>
      <div class="c-header__strap-item">
        <p>Last issue: {{ 'today' | readableDate('LLL yyyy') }}</p>
      </div>
    </div>
  </div>
</div>
