.c-sectionhead {
  &--block {
    background: #000;
    color: #fff;
  }
}

.c-sectionhead--weeknote {
  * { margin: 0; }
  position: relative;
  text-align: center;
  border-bottom: 5px solid #000;
  @include padding(1.5em 0);
  @include margin-bottom(1em);
  .c-sectionhead__heading-1 {
    margin-bottom: .35em;
    @include font-size(45px);
  }
  .c-sectionhead__strapline {
    @include font-size(0.7em);
    color: #666;
    font-weight: normal;
    font-family: 'font-b';
  }
  .c-sectionhead__note {
    @include font-size(1.4rem);
    font-family: 'Dank mono', 'Incosolata', monospace;
    font-weight: bold;
    display: inline-block;
    @include mq($from: large) {
      position: absolute;
      top: 1rem;
      right: 0;
    }
  }
  abbr {
    text-decoration: none;
  }
}
