---
title: "About - Paul Smith - Interaction Designer"
permalink: '/about/index.html'
---
{% extends "./_templates/layouts/page.njk" %}
{% block primarycontent %}

  {% markdown %}
  # About Paul

  Paul Smith is an experienced interaction designer from Manchester, UK.

  <p>
      {{
          component.render({
            name: 'image',
            fields: {
              imagePath: 'paulmsmith-pres-169.jpeg',
              alt: 'Paul, stood up presenting infront of a TV Screen with the title DWP Design System',
              width: '800',
              height: '450',
              classList: 'u-1/1'
            }
          })
      }}
  </p>

  He is currently a Senior Interaction Designer at the [Ministry for Housing, Communities and Local Government](https://www.gov.uk/government/organisations/ministry-of-housing-communities-and-local-government/about) (MHCLG).

  ---

  ## Ways of working

  User research is critical to my work as a designer. We can have much higher confidence in our work when it is informed by user research, especial reseach we have taken part in.

  Sharing and working in the open. The sooner you share, the sooner mistakes are spotted, ideas are refined and people are included.

  ---

  ## Work history

  ### 2019 to 2021 &ndash; [The National Lottery Heritage Fund](https://heritagefund.org.uk)

  Paul spent two years as lead designer at The National Lottery Heritage Fund, where he helped to build their new in-house digital service design team.

  ### 2017 to 2019 &ndash; [Well Pharmacy](https://well.co.uk)

  The first designer hired for a newly established digital department within the UK's largest independant pharmacy business.

  Working with senior leadership, Paul helped to hire the team, shaped their approach to design and to quickly build and test their riskiest ideas and assumptions with users.

  ### 2015 to 2017 &ndash; [DWP Digital](https://digital.dwp.gov.uk)

  Front-end Development for DWP Digital (formerly Business Transformation Group) within the Department for Work & Pensions. Paul worked within a large multidisciplinary design team. Following "User Centred Design' principles to design end-to-end services that benefit both citizens and government.

  Working closely with the Government Digital Service (GDS) and other lead Front-end developers within the department to champion progressively enhanced, accessible and efficient digital services.

  ---

  {% endmarkdown %}

{% endblock %}

{% block secondarycontent %}
{% endblock %}
