---
title: "Paul Smith - Interaction Designer"
permalink: '/blog/index.html'
hide_blogroll: true
---
{% extends "./_templates/layouts/blog.njk" %}
{% block primarycontent %}

  <div class="prose">
    <h2>Blog posts</h2>
    <p class="u-hint u-!-margin-bottom-1">Some of my content has been republished here from other platforms such as medium, original publications are referenced.</p>
  </div>
  <!-- /.prose -->

  <ul class="list list--entries">
  {%- for item in collections.post -%}
    <li class="list__item">
      <time>{{ item.date | readableDate }}</time>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {%- endfor -%}
  </ul>

{% endblock %}

{% block secondarycontent %}
  <div class="c-aside c-aside--dashed-concaved">
    <p>This website is still under development.</p>
  </div>

{% endblock %}
