---
title: "Paul Smith - Interaction Designer"
hide_blogroll: true
isHomepage: true
supressHeading: true
changeFreq: 'weekly'
---
{% extends "./_templates/layouts/full.njk" %}
{% block primarycontent %}

  <div class="prose">
    <div class="o-media c-pane c-pane--a">
      <p>Hello! You've reached the home of Paul Smith, a designer based in rainy Manchester, UK.</p>
    </div>
  </div>

  <div class="o-layout o-layout--huge u-!-margin-bottom-1">

    <div class="o-layout__item u-1/2@medium">

      <div class="prose">
        <h2 class="u-!-margin-top-1"><a href="/weeknotes/">Weeknotes</a></h2>
        <p>Notes and thoughts about work and life</p>
      </div>
      <!-- /.prose -->

      <ul class="list list--tld">
      {%- for item in collections.weeknote -%}
        {% if (loop.index <= 3) %}
        <li class="list__item">
          <p class="list__item__title">
            <time>{{ item.date | readableDate }}</time>
            <a href="{{ item.url }}">S{{ item.data.weeknote.season | padStart | safe }} Episode {{ item.data.weeknote.episode | padStart | safe }}</a>
          </p>
          <p class="list__item__copy">
            {{ item.data.social_description | safe }}
          </p>
        </li>
        {% endif %}
      {%- endfor -%}
      </ul>

      <div class="prose">
        <p><a href="/weeknotes/">View all weeknotes</a>.</p>
      </div>

    </div>

    <div class="o-layout__item u-1/2@medium">

      <div class="prose">
        <h2 class="u-!-margin-top-1"><a href="/writing/">Writing</a></h2>
        <p>Articles, blogposts and tutorials</p>
      </div>
      <!-- /.prose -->

      <ul class="list list--tld">
      {%- for item in collections.post -%}
        {% if (loop.index <= 5) %}
        <li class="list__item">
          <time>{{ item.date | readableDate }}</time>
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
        {% endif %}
      {%- endfor -%}
      </ul>

      <div class="prose">
        <p><a href="/weeknotes/">View all writing</a>.</p>
      </div>

    </div>

  </div>

{% endblock %}

{% block secondarycontent %}
  <div class="c-aside c-aside--dashed-concaved">
    <p>This website is still under development.</p>
  </div>
{% endblock %}
