.list {
  > li {
    margin: 0 0 .25em 0;
  }
}

.list--links {
  list-style-type: none;
  padding: 0;
  > li {
    margin: 0 0 .25em 0;
  }
}

.list--links-tout {
  > li {
    padding: .25em 0;
    border-bottom: 1px dotted #000;
  }
  > li > a {
    padding: .15em 0;
  }
}
