.list {
  > li {
    @include margin(0 0 0.25em 0);
  }
}

.list--links {
  list-style-type: none;
  padding: 0;
  > li {
    @include margin(0 0 0.25em 0);
  }
}

.list--links-tout {
  > li {
    @include padding(0.25em 0);
    border-bottom: 1px dotted #000;
  }
  > li > a {
    padding: 0.15em 0;
  }
}

.list--links-aside {
  > li {
    @include padding(0.2em 0);
    @include font-size(1.2rem);
  }
  > li > a {
    padding: 0.15em 0;
  }
}

.list--entries {
  list-style-type: none;
  padding: 0;
  .list__item {
    @include font-size(1.35rem);
    @include padding-bottom(1.5rem);
    &:not(:last-child) {
      @include margin-bottom(1.5rem);
    }
    border-bottom: 1px solid #dfdfdf;
    a {
      display: block;
    }
    time {
      @include font-size(0.7em);
      color: #666;
      display: block;
      @include margin-bottom(0.25rem);
    }
    > * {
      margin: 0;
    }
    @include mq($from: medium) {
      line-height: 1.2;
      display: flex;
      flex-flow: row-reverse;
      align-items: center;
      justify-content: space-between;
      a {
        flex-direction: row-reverse;
      }
      time {
        min-width: 25%;
        text-align: right;
      }
    }
  }
}

.list--tld {
  list-style-type: none;
  padding: 0;
  .list__item {
    @include font-size(1.35rem);
    @include padding-bottom(1.5rem);
    &:not(:last-child) {
      @include margin-bottom(1.5rem);
    }
    border-bottom: 1px solid #dfdfdf;
    time {
      @include font-size(0.8em);
      color: #666;
      display: block;
      @include margin-bottom(0.25em);
    }
    &__copy {
      @include margin(1em 0);
      font-family: 'font-b';
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
