---
title: "About - Paul Smith - Interaction Designer"
---
{% extends "../_templates/layouts/page.njk" %}
{% block primarycontent %}

{% markdown %}
# About me

Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, mollitia neque esse harum voluptatibus omnis molestiae culpa fugit voluptatem eius iste laboriosam. Labore aspernatur asperiores consectetur necessitatibus veritatis id soluta.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, mollitia neque esse harum voluptatibus omnis molestiae culpa fugit voluptatem eius iste laboriosam. Labore aspernatur asperiores consectetur necessitatibus veritatis id soluta.

{% endmarkdown %}

{% endblock %}

{% block secondarycontent %}
{% endblock %}
