body {
  @include padding(0 0);
}

.l-post__body {

}

.l-post__footer {
  @include margin(2em 0)
}

.l-divider--zig-to-the-zag {
  height: 10px;
  background: url(/assets/images/zigzag_divider.svg) round 0 0;
  @include margin-top(1.25em);
  @include margin-bottom(1.25em);
}

.main-skip-link {
  margin: 0;
  padding: .75em;
  @include font-size(1rem);
  &__link, &__link:link {
    line-height: 1;
    color: #fff;
    padding: 0.25em;
    &:focus {
      background: get('colour.page.focus');
      color: #000;
    }
  }
}
