.prose--weeknote {
  ul {
    padding: 0 1em;
    list-style-type: '– ';
  }
  li {
    ul {
      list-style-type: '- ';
      @include margin-bottom(1.5em);
    }
    li {
      @include margin(0.5em 0);
      @include font-size(0.925em);
    }
    p {
      @include margin(0.75em 0);
    }
    @include margin-bottom(1em);
  }
  h2 {
    @include margin(1em 0 1em);
    &:first-child {
      @include margin-top(0.5em);
    }
  }
}
