.prose--weeknote {
  ul {
    padding: 0 1em;
    list-style-type: "– ";
  }
  li {
    ul {
      list-style-type: "- ";
    }
    li {
      @include margin(.5em 0);
      @include font-size(.925em);
    }
  }
  h2 {
    @include margin(1em 0 1em);
    &:first-child {
      @include margin-top(0.5em);
    }
  }
}
